<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>热门兑换</title>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet/less" type="text/css" href="../../css/hot.less"/>
		<!--<link rel="stylesheet" href="../../css/style.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">热门兑换</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">Slide 1</div>
				        <div class="swiper-slide">Slide 2</div>
				        <div class="swiper-slide">Slide 3</div>
				    </div>
				</div>
				<div class="shortcut_btn">
					<ul>
						<li><a href="#"></a></li>
						<li class="shortcut_divider"></li>
						<li><a href="#"></a></li>
						<li class="shortcut_divider"></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
				<div class="sort-content">
					<div class="sort-item color1">
						
					</div>
					<div class="sort-item color2">
						
					</div>
					<div class="sort-item color3">
						
					</div>
				</div>
					
					
			</div>
			
			<!--footer-->
			<footer id="footer">
				<nav>
					<ul>
						<li><a href="#" class="color1"></a></li>
						<li><a href="#" class="color2"></a></li>
						<li><a href="#" class="color3"></a></li>
						<li><a href="#" class="color4"></a></li>
					</ul>
				</nav>
			</footer>
		</div>
		
		
		<script src="../../lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../../lib/rem.js" type="text/javascript" charset="utf-8"></script>-->
		
	</body>
</html>
