<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>购物车</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/cart.less"/>
		<!--<link rel="stylesheet" href="/积分商城页面/css/task.css" />-->
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">购物车</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="cart-content">
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="total">
						<div class="checkbox"></div>
						<div class="total-content">
							
						</div>
					</div>
				</div>
				<div class="guess-like">
					<div class="header clearfix">
						<span class="title">猜你喜欢</span>						
					</div>
					<ul class="guess-like-content clearfix">
						<li class="first color1"></li>
						<li class="second color2"></li>
						<li class="third color3"></li>
						<li class="forth color4"></li>
						<li class="first color1"></li>
						<li class="second color2"></li>
						<li class="third color3"></li>
						<li class="forth color4"></li>
						<li class="third color3"></li>
					</ul>
					
				</div>			
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>-->
		
	</body>
</html>
