<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>购物车</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/cart.less"/>
		<!--<link rel="stylesheet" href="/积分商城页面/css/task.css" />-->
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">购物车</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="cart-content">
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="cart-list">
						<div class="checkbox">
							
						</div>
						<div class="cart-list-item">
							
						</div>
					</div>
					<div class="total">
						<div class="checkbox"></div>
						<div class="total-content">
							
						</div>
					</div>
				</div>
				<div class="guess-like">
					<div class="header clearfix">
						<span class="title">猜你喜欢</span>						
					</div>
					<div class="guess-like-content clearfix">
						<div class="first color1"></div>
						<div class="second color2"></div>
						<div class="third color3"></div>
						<div class="forth color4"></div>
						<div class="first color1"></div>
						<div class="second color2"></div>
						<div class="third color3"></div>
						<div class="forth color4"></div>
						<div class="third color3"></div>
					</div>
					
				</div>			
			</div>
			<div class="cart-mask">
				
			</div>
			<div class="cart-popover">
				<p class="title">您是否确定支付相应积分来完成本次交易 ？</p>
				<p class="quantity">购买商品数量： <span>1</span>件</p>
				<p class="score-total">总积分： <span>5000</span>分</p>
				<p class="score-discount">会员折扣： 享受<span>10</span>%优惠</p>
				<p class="score-current">应付积分：<span>4920</span>分</p>
				<p class="blank"></p>
				<p class="pay"><button class="ok">确认支付</button><button class="cancel">取消支付</button></p>
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>-->
		
	</body>
</html>
