<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>我们的商品</title>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet/less" type="text/css" href="../../css/goods.less"/>
		<!--<link rel="stylesheet" href="../../css/style.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">我们的商品</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">Slide 1</div>
				        <div class="swiper-slide">Slide 2</div>
				        <div class="swiper-slide">Slide 3</div>
				    </div>
				</div>
				<div class="goods-content">
					<ul>
						<li class="color1"></li>
						<li class="color2"></li>
						<li class="color3"></li>
						<li class="color4"></li>
						<li class="color5"></li>
						<li class="color2"></li>
						<li class="color3"></li>
						<li class="color4"></li>
					</ul>
				</div>
				
					
			</div>
		</div>
		
		
		<script src="../../lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../../lib/rem.js" type="text/javascript" charset="utf-8"></script>-->
		
	</body>
</html>
